/* color */

.color-primary{
    color: $color-primary;
}

.color-primary-bg{
    background: $color-primary;
}

.color-second{
    color: $color-second;
}

.color-second-bg{
    background: $color-second;
}

.color-yellow{
    background: $color-yellow;
}

.color-yellow-bg{
    background: $color-yellow;
}